<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.js"></script>
    <script type="text/javascript">

        var data = {};
        console.log(JSON.stringify(data));
        console.log(data);
        if(JSON.stringify(data)){
            console.log("111");
        }

    </script>
</head>
<body >
Enter your name: <input type="text" /><br/>
pwd:<input ></input type="file" value="xxx">
<a href="javascrpit:alert('xxxx');" id="a1">aaaa</a>

</body>
</html>