<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.dao.UserDao">
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
    <resultMap id="BaseResultMap" type="com.zy.domain.User">
        <id column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="USER_NAME" property="userName" jdbcType="CHAR"/>
        <result column="USER_PASSWORD" property="userPassword" jdbcType="CHAR"/>
       <!-- <result column="BLOB_D" property="blobD" jdbcType="BLOB" />
        <result column="SCORE" property="score" jdbcType="DECIMAL" />
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE" />
        <result column="AVG" property="avg" jdbcType="DECIMAL" />-->
    </resultMap>
    <!-- 查询单条记录 -->
    <select id="selectUserById" parameterType="int" resultMap="BaseResultMap">
		SELECT * FROM User WHERE USER_ID = #{userId}
	</select>

    <select id="selectUserById2" parameterType="int" resultMap="BaseResultMap">
        select * from user_info t1 left join user t2 on t1.id = t2.USER_ID
	</select>

    <!-- 根据实体来查询 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="com.zy.domain.User">
        select * from User where 1=1
        <if test="user.userId !=null">and USER_ID = #{user.userId} </if>
        <if test="user.userName !=null">and user_name like '%' || #{user.userName} || '%'</if>
        <if test="user.userPassword !=null"> and USER_PASSWORD = #{user.userPassword} </if>
    </select>

    <!-- 通过实体的方式来插入数据 -->
    <insert id="insertUser" parameterType="com.zy.domain.User">
        insert into User(USER_ID,USER_NAME,USER_PASSWORD)  
             values(#{userId},#{userName},#{userPassword})  
     </insert>

    <update id="updateUserById" parameterType="com.zy.domain.User">
		update User set USER_NAME=#{userName},USER_PASSWORD=#{userPassword} where USER_ID=#{userId}
	</update>

    <update id="updateProperty" parameterType="java.lang.String">
		update User set USER_PASSWORD=#{pwd} where USER_NAME=#{name}
	</update>

    <insert id="insert2" parameterType="com.zy.domain.User">
        insert into user(USER_ID,USER_NAME,USER_PASSWORD)
        values(#{userId},#{userName},#{userPassword})
     </insert>

    <select id="queryList2" resultType= "map" parameterType="com.zy.domain.User">
        select
         USER_ID as userId,
         USER_NAME as userName,
         BLOB_D as blobd
         from User where 1=1
    </select>

</mapper>